body {
    /*background: #EEEEEE url(//epi.yale.edu/sites/all/themes/epi_theme/images/bg_map.png) no-repeat;*/
    background: #EEEEEE url("bg_map.png") no-repeat fixed;
    /*background-image: url("bg_map.png");*/
    /*border: 1px solid;*/
    /*background: #EEEEEE;*/
    font-weight: normal;
    font-size: 14px;
    font-family: "Helvetica Neue";
}

h2 {
  font-weight: 100;
  font-family: "Helvetica Neue";
}

h5, h4 {
  font-weight: bold;
  font-family: "Helvetica Neue";
}
h6 {
  color: #2090FF;
  font-weight: bold;
}

h8, h4 {
  text-transform: uppercase;
}

div {
  /*border: 1px solid;*/
  /*margin: 20px;*/
  padding: 0px;
  margin-bottom: 25px;
}

th {
  background-color: #C0C0C0;
  color: white;
  text-transform: uppercase;
  font-size: 11 px;
}

/*td {
  height: 150px;
}*/


th, td {
  width: 100%;
  margin: 0 auto;
  padding: 25px;
  border-top: 1px #C0C0C0 solid;
  text-align: center;
  max-width: 200px;
}

.rose-charts {
  width: 200px;
}

.container {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  padding: 0;
  min-width: 900px;
}

.forms {
  background: #FFFFFF;
  box-shadow: 2px 2px 2px #939396;
  padding: 10px;
  position: relative;
  border-radius: 3px;
  margin-top: 25px;
  margin-bottom: 25px;
}

.map, .lineChart, .maincontainer {
  background: #FFFFFF;
  box-shadow: 2px 2px 2px #939396;
  margin-bottom: 25px;
  margin-top: 25px;
}

input {
  background-color: #5C5C5C;
  color: white;
  width: 130px;
}

#clist, #categories, input {display: inline-block; font-size: 12px; vertical-align: top;}
#clist {
  width: 250px;
  padding-left: 10px;
}

.select2-container {
  width: 200px;
}

#categories {
  width: 400px;
  padding: 10px;
}

#select-ind {
  width: 300px;
  webkit-appearance: none;
  background: url(/select2.png) no-repeat right;
}



